*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #22254b;
}
header{
    background-color: #373b69;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}
.search{
    color: white;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid #22254b;
}
.search::placeholder{
    color: #7378c5;
}
.search:focus{
    background-color: #22254b;
    outline: none;
}
.movie{
    overflow: hidden;
    margin:1rem;
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    position: relative;
}
.movie:hover .overview{
    transform: translateY(0);
}
.movie img {
    width: 100%;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-info{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem ;
    letter-spacing: 1px;
    align-items: center;
    color: white;
}
.movie-info h3{
    margin: 0;
}
.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}
.movie-info span.green{
    color: green;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: red;
}
.overview{
    position: absolute;
    left:0;
    bottom: 0;
    /* top: 0; */
    right: 0;
    background-color: #fff;
    padding: 2rem;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    max-height: 100%;
    overflow: auto;
}

.overview h3{
    margin-top: 0;
}